<div sa-widget [colorbutton]="false" [editbutton]="false">

  <header>
    <span class="widget-icon"> <i class="fa fa-map-marker"></i> </span>

    <h2>Gestiones administrativa por mes</h2>
  </header>

  <div>
    <div class="widget-body no-padding">
      <!-- <d3-map [data]="data"></d3-map> -->
      <sa-pie2></sa-pie2>

      <!-- <div id="heat-fill">
        <span class="fill-a">0</span>

        <span class="fill-b">5,000</span>
      </div> -->
        <table saSparklineContainer class="table table-striped table-hover table-condensed">
          <thead>
          <tr>
            <th>Mes</th>
            <th class="text-align-center">Radicadas</th>
            <th class="text-align-center">Respondidas</th>
            <th class="text-align-center">Pendiente</th>
            <th class="text-align-center">Vencidas</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><span class="badge" style="background-color:#0b61a4">Enero</span></td>
            <td class="text-center">400</td>
            <td class="text-center"> 400</td>
            <td class="text-center">400</td>
            <td class="text-center">400</td> 
          </tr>
          <tr>
            <td><span class="badge" style="background-color:#7992a3">Febrero</span></td>
            <td class="text-center">400</td>
            <td class="text-center"> 400</td>
            <td class="text-center">400</td>
            <td class="text-center">400</td> 
          </tr>
          <tr>
            <td><span class="badge" style="background-color:#54a74d">Marzo</span></td>
            <td class="text-center">400</td>
            <td class="text-center">400</td>
            <td class="text-center">400</td>
            <td class="text-center">400</td> 
          </tr>
          <tr>
            <td><span class="badge" style="background-color:#7f4da7">Abril</span></td>
            <td class="text-center">400</td>
            <td class="text-center">400</td>
            <td class="text-center">400</td>
            <td class="text-center">400</td> 
          </tr>
          <tr>
            <td><span class="badge" style="background-color:#a74d68">Mayo</span></td>
            <td class="text-center">400</td>
            <td class="text-center">400</td>
            <td class="text-center">400</td>
            <td class="text-center">400</td> 
          </tr>
          <tr>
            <td><span class="badge" style="background-color:#a46c0c"> Junio</span></td>
            <td class="text-center">400</td>
            <td class="text-center">400</td>
            <td class="text-center">400</td>
            <td class="text-center">400</td> 
          </tr>
          <tr>
            <td><span class="badge" style="background-color:#d5ae05">Julio</span></td>
            <td class="text-center">400</td>
            <td class="text-center">400</td>
            <td class="text-center">400</td>
            <td class="text-center">400</td> 
          </tr>
          <tr>
            <td><span class="badge" style="background-color:#680676">Agosto</span></td>
            <td class="text-center">400</td>
            <td class="text-center">400</td>
            <td class="text-center">400</td>
            <td class="text-center">400</td> 
          </tr>
          <tr>
            <td><span class="badge" style="background-color:#0ab8c6">Septiembre</span></td>
            <td class="text-center">400</td>
            <td class="text-center">400</td>
            <td class="text-center">400</td>
            <td class="text-center">400</td> 
          </tr>
          <tr>
            <td><span class="badge" style="background-color:#52b254">Octubre</span></td>
            <td class="text-center">400</td>
            <td class="text-center">400</td>
            <td class="text-center">400</td>
            <td class="text-center">400</td> 
          </tr>
          <tr>
            <td><span class="badge" style="background-color:#4464a7">Noviembre</span></td>
            <td class="text-center">400</td>
            <td class="text-center">400</td>
            <td class="text-center">400</td>
            <td class="text-center">400</td> 
          </tr>
          <tr>
            <td><span class="badge" style="background-color:#cc1f1f">Diciembre</span></td>
            <td class="text-center">400</td>
            <td class="text-center">400</td>
            <td class="text-center">400</td>
            <td class="text-center">400</td> 
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="5">
              <ul class="pagination pagination-xs no-margin">
                <li class="prev disabled">
                  <a (click)="(null)">Previous</a>
                </li>
                <li class="active">
                  <a (click)="(null)">1</a>
                </li>
                <li>
                  <a (click)="(null)">2</a>
                </li>
                <li>
                  <a (click)="(null)">3</a>
                </li>
                <li class="next">
                  <a (click)="(null)">Next</a>
                </li>
              </ul>
            </td>
          </tr>
          </tfoot>
        </table>


    </div>

  </div>
</div>
