<div sa-widget [colorbutton]="false" [editbutton]="false">

  <header>
    <span class="widget-icon"> <i class="fa fa-map-marker"></i> </span>

    <h2>Gestiones administrativa por gestor</h2>

  </header>

  <div>
    <div class="widget-body no-padding">
      <!-- <d3-map [data]="data"></d3-map> -->
      <sa-pie></sa-pie>

      <!-- <div id="heat-fill">
        <span class="fill-a">0</span>

        <span class="fill-b">5,000</span>
      </div> -->
        <table saSparklineContainer class="table table-striped table-hover table-condensed">
          <thead>
          <tr>
            <th>Gestor</th>
            <th class="text-align-center">Radicadas</th>
            <th class="text-align-center">Respondidas</th>
            <th class="text-align-center">Pendiente</th>
            <th class="text-align-center">Vencidas</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><span class="badge" style="background-color: #0b61a4">Camila</span></td>
            <td class="text-center">400</td>
            <td class="text-center"> 400</td>
            <td class="text-center">400</td>
            <td class="text-center">400</td> 
          </tr>
          <tr>
            <td><span class="badge" style="background-color: #7992a3">Mathew</span></td>
            <td class="text-center">400</td>
            <td class="text-center"> 400</td>
            <td class="text-center">400</td>
            <td class="text-center">400</td> 
          </tr>
          <tr>
            <td><span class="badge" style="background-color: #54a74d">Jhon</span></td>
            <td class="text-center">400</td>
            <td class="text-center">400</td>
            <td class="text-center">400</td>
            <td class="text-center">400</td> 
          </tr>
          <tr>
            <td><span class="badge" style="background-color: #7f4da7">Luis</span></td>
            <td class="text-center">400</td>
            <td class="text-center">400</td>
            <td class="text-center">400</td>
            <td class="text-center">400</td> 
          </tr>
          <tr>
            <td><span class="badge" style="background-color: #a74d68">Cristian</span></td>
            <td class="text-center">400</td>
            <td class="text-center">400</td>
            <td class="text-center">400</td>
            <td class="text-center">400</td> 
          </tr>
          </tbody>
          <tfoot>
          </tfoot>
        </table>


    </div>

  </div>
</div>
