<div>
  <div class="row no-space">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <on-off-switch class="demo-liveupdate-1" title="Live switch" [(model)]="liveSwitch"
                     (modelChange)="toggleSwitch()"></on-off-switch>

      <sa-flot-chart class="chart-large txt-color-blue" [data]="liveStats"
                     [options]="liveStatsChartOptions"></sa-flot-chart>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 show-stats">

      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12"><span
          class="text"> Redicadas <span
          class="pull-right">90/200</span> </span>

          <div class="progress">
            <div class="progress-bar bg-color-yellow"
                 style="width: 45%"></div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12"><span
          class="text"> Respondidas <span
          class="pull-right">40/200</span> </span>

          <div class="progress">
            <div class="progress-bar bg-color-green"
                 style="width:20%"></div>
          </div>
        </div>


        <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12"><span
          class="text"> Pendientes<span
          class="pull-right">24/200</span></span>

          <div class="progress">
            <div class="progress-bar bg-color-blue"
                 style="width: 12%"></div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12"><span
          class="text"> Vencidas <span
          class="pull-right">46/200</span> </span>

          <div class="progress">
            <div class="progress-bar bg-color-red" style="width:23%"></div>
          </div>
        </div>

        <span class="show-stat-buttons">
          <span class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
             <a (click)="(null)" class="btn btn-default btn-block hidden-xs">Generar Reporte</a>
          </span>
          <span class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <a (click)="(null)" class="btn btn-default btn-block hidden-xs">Report a bug</a>
          </span>
        </span>
      </div>
    </div>


  </div>

  <div class="show-stat-microcharts">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">

      <div class="easy-pie-chart txt-color-yellow" data-percent="45"
           data-pie-size="50">
        <span class="percent percent-sign">35</span>
      </div>
      <span class="easy-pie-title"> Redicadas <i
        class="fa fa-caret-up icon-color-good"></i> </span>
      <ul class="smaller-stat hidden-sm pull-right">
        <li>
        <span class="label bg-color-blueDark"><i
          class="fa fa-caret-up"></i> 97%</span>
        </li>
        <li>
        <span class="label bg-color-blueLight"><i
          class="fa fa-caret-down"></i> 44%</span>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <div class="easy-pie-chart txt-color-green" data-percent="20"
           data-pie-size="50">
        <span class="percent percent-sign">78.9 </span>
      </div>
      <span class="easy-pie-title"> Respondidas<i
        class="fa fa-caret-up icon-color-good"></i></span>
      <ul class="smaller-stat hidden-sm pull-right">
        <li>
            <span class="label bg-color-blueDark"><i
              class="fa fa-caret-up"></i> 76%</span>
        </li>
        <li>
          <span class="label bg-color-blue"><i
            class="fa fa-caret-down"></i> 3%</span>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <div class="easy-pie-chart txt-color-blue" data-percent="12"
           data-pie-size="50">
        <span class="percent percent-sign">23 </span>
      </div>
      <span class="easy-pie-title"> Pendientes <i
        class="fa fa-caret-up icon-color-good"></i></span>
      <ul class="smaller-stat hidden-sm pull-right">
        <li>
          <span class="label bg-color-darken">10GB</span>
        </li>
        <li>
        <span class="label bg-color-blueDark"><i
          class="fa fa-caret-up"></i> 10%</span>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <div class="easy-pie-chart txt-color-red" data-percent="23"
           data-pie-size="50">
        <span class="percent percent-sign">36 </span>
      </div>
      <span class="easy-pie-title"> Vencidas <i
        class="fa fa-caret-down icon-color-bad"></i></span>
        <ul class="smaller-stat hidden-sm pull-right">
          <li>
              <span class="label bg-color-blueDark"><i
                class="fa fa-caret-up"></i> 76%</span>
          </li>
          <li>
            <span class="label bg-color-blue"><i
              class="fa fa-caret-down"></i> 3%</span>
          </li>
        </ul>
    </div>
  </div>
</div>
